# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
.git
.gitignore

# Node.js dependencies:
node_modules/

# Build outputs (will be rebuilt during Cloud Build)
lib/
*.tsbuildinfo

# Include vendor directory (contains api-trpc package)
!vendor/
# Include install script
!install-pnpm.sh

